### 1. From the order_items table, find the price of the highest priced order and lowest price order.

In [ ]:
USE `olist`;

select price from order_items
order by price desc
limit 5;

In [ ]:
output: 
    >6735
6729
6499
4799
4690

### 2. From the order_items table, what is range of the shipping_limit_date of the orders?

In [ ]:
select max(shipping_limit_date), min(shipping_limit_date) from order_items;

In [ ]:
output: 
    2020-04-10 00:35:08	2016-09-19 02:15:34

### 3. From the customers table, find the states with the greatest number of customers.

In [ ]:
select customer_state, count(customer_unique_id) from customers
group by customer_state
order by count(customer_unique_id) desc
limit 10;

In [ ]:
output:
    SP	41746
RJ	12852
MG	11635
RS	5466
PR	5045

### 4. From the customers table, within the state with the greatest number of customers, find the cities with the greatest number of customers.

In [ ]:
select customer_city, customer_state, count(customer_unique_id) from customers
where customer_state in ('SP')
group by customer_city
order by count(customer_unique_id) desc
limit 5;

In [ ]:
output:
    sao paulo	SP	15540
campinas	SP	1444
guarulhos	SP	1189
sao bernardo do campo	SP	938
santo andre	SP	796

### 5. From the closed_deals table, how many distinct business segments are there (not including null)?

In [ ]:
select count(distinct business_segment) from closed_deals;

In [ ]:
output:
    33

### 6. From the closed_deals table, sum the declared_monthly_revenue for duplicate row values in business_segment and find the 3 business segments with the highest declared monthly revenue (of those that declared revenue).

In [ ]:
select business_segment, sum(declared_monthly_revenue) from closed_deals
group by business_segment
order by sum(declared_monthly_revenue) desc
limit 3;

In [ ]:
output:
    construction_tools_house_garden	50695006
phone_mobile	8000000
home_decor	710000

### 7. From the order_reviews table, find the total number of distinct review score values.

In [ ]:
select review_score from order_reviews
group by review_score;

In [ ]:
output:
    4
5
1
3
2

### 8. In the order_reviews table, create a new column with a description that corresponds to each number category for each review score from 1 - 5, then find the review score and category occurring most frequently in the table.

In [ ]:
alter table order_reviews add review_category varchar(20);
update order_reviews set review_category = 'poor' where review_score = 1;
update order_reviews set review_category = 'bad' where review_score = 2;
update order_reviews set review_category = 'OK' where review_score = 3;
update order_reviews set review_category = 'nice' where review_score = 4;
update order_reviews set review_category = 'perfect' where review_score = 5;

select review_score, review_category, count(*) from order_reviews
group by review_score order by count(*) desc limit 1;

In [ ]:
output:
    5	perfect	57420

### 9. From the order_reviews table, find the review value occurring most frequently and how many times it occurs.

In [ ]:
select review_score, review_category, count(*) from order_reviews
group by review_score order by count(*) desc limit 1;

In [ ]:
output:
    5	perfect	57420