### 1 - Write a program to accept the price of a bike and display the road tax to be paid according to the following criteria : 

                        Price                                  Tax ​
                        > 100000                                15 % ​
                        > 50000 and <= 100000                   10% ​
                        <= 50000                                5%​

In [ ]:
price=int(input("enter the bike price : "))

price=float(price)

if price <= 50000 :
    taxe=0.05
    print(price*taxe)
elif price >50000 and price <=100000 :
    taxe=0.1
    print(price*taxe)
else :
    taxe=0.15
    print(price*taxe)

### 3 - Given two sentences, return an array that has the words that appear in one sentence and not the other and an array with the words in common.

In [31]:
str1="My name is Aadil"
str2="My name is Aadil and i study Data"


s1list=str1.split(" ",-1)
s2list=str2.split(" ",-1)

print(s1list)
print(s2list)

s1=set(s1list)
s2=set(s2list)




intersection= s1.intersection(s2)
difference= s2.difference(s1)

z=s2-s1

print(difference)
print(intersection)
print(z)

['My', 'name', 'is', 'Aadil']
['My', 'name', 'is', 'Aadil', 'and', 'i', 'study', 'Data']
{'study', 'Data', 'and', 'i'}
{'is', 'Aadil', 'My', 'name'}
{'study', 'Data', 'and', 'i'}

### 2 - Given the array of numbers , write a program to move all zeros to the end keeping  the relative order of the non-zero elements.

In [33]:
array=[1,2,3,0,0,4,5,6,0]
array2=[]

i=0

for i in range(len(array)):
    if array[i] !=0:
        array2.append(array[i])
        i += 1

for i in range(len(array)):
    if array[i] ==0:
        array2.append(array[i])
        i += 1
        
print(array2)

[1, 2, 3, 4, 5, 6, 0, 0, 0]

In [34]:
u=input("please enter number, if you don't want enter stop")
i=1
while u !="stop" and i<5:
    u=input("please enter number")
    i=i+1

please enter number, if you don't want enter stop1
please enter number1
please enter number1
please enter number1
please enter number

In [36]:
def f1(x):
    y = x**2 + 1 , x
    return y

f1(2)

(5, 2)

In [42]:
taxe=[20,25]
salary_limit=[50000]

t1=taxe[0]
t2=taxe[1]

def taxes(taxe,salary_limit) :
    salary=int(input("enter your salary: "))
    if salary < salary_limit :
        return t1
    else :
        return t2

TypeError: taxes() missing 1 required positional argument: 'salary_limit'